<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993783928699-74g00mrslb1v0ilguldbo1sm21o6t53h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993783928699-74g00mrslb1v0ilguldbo1sm21o6t53h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>993783928699-o3hqirodf5htbbi98nkjdd7kgbhujen8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDVO6nh8iQK_J4tNMGQ377nNpNXhpqsxJI</string>
	<key>GCM_SENDER_ID</key>
	<string>993783928699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anncode.platzitripsapp</string>
	<key>PROJECT_ID</key>
	<string>platzitrips-be051</string>
	<key>STORAGE_BUCKET</key>
	<string>platzitrips-be051.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993783928699:ios:1658f882cca3a778</string>
	<key>DATABASE_URL</key>
	<string>https://platzitrips-be051.firebaseio.com</string>
</dict>
</plist>